body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

#login{
display:flex;
flex-direction:column;
align-items:center;
margin-top:100px;
gap:15px;
}

input{
padding:14px;
border:none;
border-radius:8px;
width:260px;
}

button{
padding:12px;
background:#ff6a00;
border:none;
border-radius:8px;
color:white;
font-weight:bold;
}

#app{
display:none;
height:100vh;
}

#sidebar{
width:220px;
background:#151515;
position:fixed;
height:100%;
padding:15px;
}

#chat{
margin-left:220px;
}

#top{
background:#1a1a1a;
padding:15px;
display:flex;
justify-content:space-between;
}

#messages{
height:75vh;
overflow:auto;
padding:10px;
}

.msg{
background:#1e1e1e;
margin:10px;
padding:10px;
border-radius:8px;
display:flex;
align-items:center;
gap:10px;
}

.msg img{
width:35px;
height:35px;
border-radius:50%;
}

#sendArea{
display:flex;
padding:10px;
}

#messageInput{
flex:1;
}
